@model IEnumerable<SA_Online_Mart.Models.Product>

<div id="product-list">
    <h2>Featured Products</h2>
    <hr />
    <div class="product-grid">
        @foreach (var product in Model)
        {
            <div class="product-card">
                <div class="product-image">
                    <a asp-controller="Home" asp-action="ProductDetails" asp-route-id="@product.Id" class="info-icon">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <img src="@product.ImageUrl" alt="@product.Name" />
                </div>
                <div class="product-info">
                    <h3>@product.Name</h3>
                    <h4>R @product.Price</h4>
                    <button class="add-to-cart" onclick="addItemToCart(@product.Id, 1)">Add to Cart</button>
                </div>
            </div>
        }
    </div>
</div>
